    #National g.highcharts-series-group rect,
    #RegionalNorth g.highcharts-series-group rect,
    #RegionalCentral g.highcharts-series-group rect,
    #RegionalSouth g.highcharts-series-group rect,
    #MetroDealerDetail .highcharts-series rect {
        cursor: pointer;
    }

    #nationalStatusPie .highcharts-legend-box {
        overflow-x: scroll;
    }

    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('/Content/page loader/page-loader.gif') 50% 50% no-repeat;
        /*rgb(249,249,249)*/
    }

    .Section {
        margin: 10px;
        border-radius: 4px;
        background-color: white;
    }

    .extra {
        width: 100%;
        height: 150px;
        border: 1px solid #ccc;
        border-left: none;
        border-bottom: none;
        border-top: none;
    }

    .extraCity {
        width: 100%;
        border-bottom: none;
        height: 59px;
        border: solid 1px #ddd;
        position: unset;
    }

    /* Style the tab */
    div.tabCity {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: white;
        border-bottom: none;
    }

        /* Style the buttons inside the tab */
        div.tabCity button {
            background-color: #ddd;
            color: white;
            float: left;
            border: 1px solid #ccc;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: medium;
        }


            /* Create an active/current tablink class */
            div.tabCity button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontentCity {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    div.tabCity button.active {
        border: 1px solid white !important;
    }
    /* Style the tab */
    div .tab {
        float: left;
        /*border: 1px solid #ccc;*/
        /*background-color: black;*/
        width: 5%;
        height: 100%;
    }

        /*div.tabCity {
        width: 7%;
    }*/

        /* Style the buttons inside the tab */
        div.tab button {
            display: block;
            background-color: #ddd;
            color: white;
            padding: 22px 16px;
            width: 100%;
            border: 1px solid #ccc;
            outline: none;
            text-align: left;
            cursor: pointer;
            transition: 0.3s;
        }

            /* Change background color of buttons on hover */
            /*div.tab button:hover {
                background-color: #ddd;
                color: inherit;
            }*/

            /* Create an active/current "tab button" class */
            div.tab button.active, div.tabCity button.active {
                background-color: white;
                color: black;
                border: solid #cccccc 1px;
                border-right: none;
            }

    /* Style the tab content */
    .tabcontent {
        float: left;
        padding: 0px 12px;
        border: 1px solid #ccc;
        width: 95%;
        border-left: none;
        height: 300px;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
    }
    /*.tabcontentCity {
        width: 93%;
        height: 400px;
    }*/

    /* Style the tab content */

    /* Fade in tabs */
    @@-webkit-keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @@keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }