body {
	width:100%;
    height: 100%;
	margin-top: 125px;
	background-image:url(../css/images/bkgroundimg.jpg);
	
}

div.wrapper {
  
    bottom: 15%;
    left: 15%;
    height: 60%; 
	width: 73%;
	background-color: white; 
    opacity:0.97;
   margin: 0 auto;
   padding:2px;
   display: table;
   
}

.footerfixed {
  
    bottom: 15%;
    left: 15%;
    height: 60%; 
	width: 73%; 
	background-color: #e; 
    /* opacity:0.97; */
    margin: 0 auto;
      
   
}


div.container {
 
    bottom: 15%;
    left: 16%;
    height: 50%; 
	width: 90%; 
    background-color: white; 
	margin: 0 auto;   
}

.form-group label {
    font-size: 14px !important
}

/* div.btn {

    bottom: 20%;
    left: 35%;
    height: 50px; 
    width: 100px;
}
div.btn1 {

    bottom: 20%;
    left: 60%;
   height: 50px; 
    width: 100px;
} */
#btn-right {
    float: right !important;
}

.btn {
    display: block;
    padding: 0px;
}

.btn_design
{
    height:35px;
    width:50px;
    color:black;
    background-color:red;
}

div.header{
  position:absolute;
    top: 30px;
    background-color:white;
    height:50px;
    width:100%;
}
div.divlogo {
    width:180px;
	margin: 0 auto;
    position: relative;
    top: -15px;
}
div.parent_body {
    position: fixed;
    bottom: 130px;
    /*right: 0;*/
    left: 200px;
    width: 300px;
}

.footerbtn {
    width: 100%;
	position:fixed;
	bottom:0;

}

.footer{
	
	    width: 100%;
    bottom: 0px;
  
    float: none;
	margin-top: 10px;
 
}


/*  media qurie */

/* @media only screen and (max-width: 500px) {
    .form-group label {
       font-size:25px !important;
    }
	
	div.wrapper
	{
		padding:10%;
		
	}
} */


@media only screen and (min-width: 500px)
{
	
	body
	{
		margin-top: 125px;
	}	
	
	
}

@media only screen and (max-width: 321px)
{
	
	body
	{
		margin-top: 125px;
		background-image: none;
	}	
	
	div.wrapper {
	  
		bottom: 15%;
		/*left: 15%;*/
		height: 60%; 
		/*width: 73%; */
		background-color: white; 
		opacity:0.97;
	   margin: 0 auto;
	   padding:2px;
	   
	}

	div.container {
	 
		bottom: 15%;
		left: 16%;
		height: 50%; 
		width: 90%; 
		background-color: white; 
		margin: 0 auto;   
	}

}

@media only screen and (max-width: 481px)
{
	
	body
	{
		/*background-image:url(../css/images/bkgroundimg_1.png);*/
		background-image: none;
	}	
	
	div.wrapper {
	  
		bottom: 15%;
		/*left: 15%;*/
		height: 60%; 
		/*width: 73%; */
		background-color: white; 
		opacity:0.97;
	   margin: 0 auto;
	   padding:2px;
	   
	}

	div.container {
	 
		bottom: 15%;
		left: 16%;
		height: 50%; 
		width: 90%; 
		background-color: white; 
		margin: 0 auto;   
	}

	
}


/* media qurie end */


.form-group
{
overflow-x: auto;	
	}